@media screen and (max-width: 1340px) {
  .container {
    width: 1180px;
    padding: 0 15px;
  }
  .why-info {
    width: 530px;
  }
  .footer nav {
    margin-left: 40px;
  }
  .footer nav > ul li:nth-child(5) {
    margin-right: 50px;
  }
  .service-single-image {
    margin-left: 0;
  }
  .service-single-info {
    margin-right: 0;
  }
  .our-project-item {
    width: 370px;
    height: 315px;
  }
  .our-project-current-image {
    width: 515px;
    height: 340px;
  }
  .our-project-current-info {
    width: 585px;
  }
  .contact-block-inner:nth-child(3) {
    margin-right: 80px;
  }
  .contact-block__name {
    font-size: 38px;
    line-height: 40px;
  }
  .advantage-image {
    height: 380px;
  }
  .service-separate-wrapper {
    width: 100%;
  }
  .service-separate-left {
    width: 1022px;
  }
  .service-separate .price-table {
    width: 940px;
  }
  .blog-single-service__link {
    font-size: 24px;
  }
  .blog-single-service__item:not(:last-child) {
    margin-right: 62px;
  }
}

@media screen and (max-width: 1180px) {
  .container {
    width: 992px;
  }
  .title {
    font-size: 38px;
    line-height: 42px;
  }
  .header-logo {
    height: 105px;
  }
  .header-logo h1 {
    font-size: 46px;
    line-height: 55px;
  }
  .why-image {
    width: 45%;
  }
  .why-info {
    width: 495px;
    padding: 50px 0;
  }
  .slogan-wrapper p {
    font-size: 24px;
  }
  .service-item__image {
    height: 290px;
  }
  .project-item {
    width: 420px;
  }
  .project-item__image {
    height: 350px;
  }
  .footer-wrapper {
    position: relative;
    padding-bottom: 60px;
  }
  .footer-main {
    width: 175px;
  }
  .footer-logo {
    height: 105px;
  }
  .footer-logo p {
    font-size: 46px;
    line-height: 55px;
  }
  .footer nav {
    height: 185px;
  }
  .footer nav > ul li:nth-child(5) {
    margin-bottom: 9px;
  }
  .footer nav > ul li ul {
    margin-top: 9px;
    position: static;
  }
  .footer__copy {
    position: absolute;
    bottom: 20px;
    left: 0;
  }
  .service-single-image {
    width: 395px;
  }
  .service-single-info__title {
    margin-bottom: 50px;
  }
  .our-project-item {
    width: 307px;
    height: 307px;
  }
  .our-project-item__name {
    font-size: 24px;
    line-height: 30px;
  }
  .our-project-current__title {
    margin-bottom: 30px;
  }
  .our-project-current-image {
    width: 436px;
    height: 290px;
  }
  .our-project-current-info {
    width: 495px;
  }
  .contact-wrapper {
    padding: 90px 0 150px 0;
  }
  .contact-block-inner:nth-child(3) {
    margin-right: 0;
  }
  .contact-block__name {
    font-size: 34px;
  }
  .contact-block-inner:nth-child(1) {
    width: 225px;
  }
  .contact-block-inner:nth-child(2) {
    width: 255px;
    margin: 0;
  }
  .contact-social__item p {
    margin-right: 25px;
  }
  .contact-single .contact-block-inner:nth-child(2) {
    margin: 0 auto;
  }
  .about-image {
    width: 45%;
  }
  .about-info {
    width: 475px;
  }
  .recall-wrapper {
    width: 100%;
  }
  .service-separate .price-table {
    width: 748px;
  }
  .service-separate-left {
    width: 836px;
  }
  .blog-single-service__item:not(:last-child) {
    margin-right: 30px;
  }
  .blog-single h2, .blog-single h3, .blog-single h4 {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 768px;
  }
  .title {
    font-size: 28px;
  }
  .header {
    position: fixed;
    -webkit-box-shadow: 0 0 20px 0px;
            box-shadow: 0 0 20px 0px;
    z-index: 5;
    background: #F1F0ED;
    width: 100%;
  }
  .header-logo {
    width: 190px;
    height: 78px;
  }
  .header-logo h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .header-wrapper {
    padding: 20px 0;
  }
  .header-contact {
    display: none;
  }
  .header-burger {
    display: block;
  }
  .header nav {
    position: absolute;
    right: -600px;
    top: 118px;
    background: #F1F0ED;
    height: 100vh;
    width: 330px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header nav.active {
    right: 0;
  }
  .header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
  }
  .header nav ul > li:last-child {
    display: none;
  }
  .header nav ul li {
    margin-bottom: 9px;
  }
  .header nav ul li a {
    text-decoration: none;
  }
  .header nav ul li ul {
    width: unset;
    padding: 15px 0 6px 0;
    opacity: 1;
    pointer-events: all;
    position: static;
  }
  .header nav ul li ul li:not(:last-child) {
    margin-bottom: 9px;
  }
  .header-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .header-height {
    height: 118px;
  }
  .why-wrapper {
    padding-bottom: 454px;
  }
  .why__title {
    margin-bottom: 30px;
  }
  .why-info {
    width: 100%;
  }
  .why-image {
    height: 454px;
    bottom: 0;
    top: unset;
    width: 100%;
  }
  .slogan-wrapper p {
    font-size: 20px;
    line-height: 30px;
  }
  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-logo {
    width: 190px;
    height: 78px;
  }
  .footer-logo p {
    font-size: 34px;
    line-height: 42px;
  }
  .footer-main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer nav {
    margin: 30px 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
    width: 100%;
  }
  .footer-social__link img {
    width: 40px;
  }
  .project__title {
    margin-bottom: 30px;
  }
  .service-single-image {
    width: 340px;
  }
  .service-single-info {
    width: 375px;
  }
  .our-project-wrapper {
    padding: 30px 0;
  }
  .our-project-item {
    width: 238px;
    height: 238px;
  }
  .our-project-item:not(:nth-child(3n + 3)) {
    margin-right: 12px;
  }
  .our-project-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 12px;
  }
  .our-project-item__name {
    width: calc(100% - 20px);
    left: 10px;
    font-size: 20px;
    line-height: 24px;
    top: 10px;
  }
  .our-project-current-image {
    width: 270px;
    height: 245px;
  }
  .our-project-current-info {
    width: 440px;
  }
  .contact-wrapper {
    padding: 70px 0;
  }
  .contact-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-block__name {
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .contact-block-inner:nth-child(1) {
    width: 48%;
  }
  .contact-block-inner:nth-child(2) {
    width: 48%;
  }
  .contact-block-inner:nth-child(3) {
    margin-top: 50px;
  }
  .contact-social__item img {
    width: 40px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about-info {
    width: 385px;
  }
  .advantage-list {
    height: unset;
  }
  .advantage-item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
  }
  .advantage-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .price-wrapper {
    width: 100%;
  }
  .price__title {
    margin-bottom: 30px;
  }
  .price-table table thead th {
    font-size: 16px;
  }
  .price-table table tbody tr td {
    font-size: 16px;
  }
  .price-contact-social__item img {
    width: 40px;
  }
  .price-contact__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .blog-list {
    width: 100%;
  }
  .blog-item .our-project-current-info {
    width: 385px;
  }
  .blog-item .our-project-current-image {
    width: 325px;
    height: 240px;
  }
  .blog-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .recall-image {
    width: 320px;
    height: 275px;
  }
  .recall-info {
    width: 390px;
  }
  .service-separate__title {
    margin-bottom: 30px;
  }
  .service-separate-left {
    width: 612px;
  }
  .service-separate-left-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service-separate-right {
    height: 490px;
  }
  .service-separate-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .service-separate-image__item {
    width: 85px;
    height: 145px;
    margin-right: 37px;
  }
  .service-separate .price-table {
    width: 560px;
    margin-top: 30px;
  }
  .service-separate-info {
    margin-top: 30px;
  }
  .blog-single {
    padding-top: 40px;
  }
  .blog-single-content {
    width: 100%;
  }
  .blog-single-service-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-single-service__item:first-child {
    width: 100%;
    margin-right: 0 !important;
  }
  .blog-single-service__item:first-child img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .blog-single-service__item:not(:last-child) {
    margin-right: 19px;
  }
  .blog-single h2, .blog-single h3, .blog-single h4 {
    font-size: 34px;
  }
  .blog-single .blog-single-content.image .blog-single-info {
    width: 410px;
  }
  .blog-single-price {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 576px;
    padding: 0 10px;
  }
  .title {
    font-size: 23px;
    line-height: 32px;
  }
  .slogan-wrapper {
    padding: 18px 0;
  }
  .slogan-wrapper p {
    font-size: 16px;
    line-height: normal;
  }
  .header-logo {
    width: 100px;
    height: 64px;
  }
  .header-logo h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .header-height {
    height: 104px;
  }
  .header-burger {
    width: 24px;
    height: 21px;
  }
  .header nav {
    top: 102px;
  }
  .header nav ul li a {
    font-size: 16px;
  }
  .service-wrapper {
    padding: 30px 0;
  }
  .service-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service-item {
    width: 49%;
  }
  .service-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .service-item__image {
    height: 200px;
  }
  .service-item__name {
    margin-top: 20px;
  }
  .why-wrapper {
    padding-bottom: 365px;
  }
  .why-info {
    padding: 20px 0 30px 0;
  }
  .why-image {
    height: 365px;
  }
  .footer-logo {
    width: 100px;
    height: 64px;
  }
  .footer-logo p {
    font-size: 26px;
    line-height: 30px;
  }
  .footer__phone {
    font-size: 24px;
  }
  .footer-main {
    width: unset;
  }
  .footer-social {
    margin: 14px 0 16px 0;
  }
  .footer-social__link img {
    width: 35px;
  }
  .footer nav {
    margin: 30px 0 10px 0;
  }
  .footer nav ul li a {
    font-size: 16px;
  }
  .project {
    position: relative;
  }
  .project__title {
    display: none;
  }
  .project-item {
    width: 350px;
  }
  .project-item__image {
    height: 270px;
  }
  .project-slider {
    position: static;
  }
  .project-slider-panel__arrow.prev {
    left: 20px;
  }
  .project-slider-panel__arrow.next {
    right: 20px;
  }
  .service-single-image {
    width: 425px;
    margin-bottom: 50px;
  }
  .service-single-image__item:nth-child(1) {
    height: 275px;
  }
  .service-single-info {
    width: 100%;
  }
  .service-single-info__title {
    margin-bottom: 30px;
  }
  .service-single-info__link {
    margin-top: 30px;
  }
  .service-single-block .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-project-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .our-project-item {
    width: 49%;
  }
  .our-project-item:not(:nth-child(3n + 3)) {
    margin-right: unset;
  }
  .our-project-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 0;
  }
  .our-project-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 12px;
  }
  .our-project-current {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-project-current-image {
    width: 100%;
    margin-bottom: 30px;
  }
  .our-project-current__title {
    margin-bottom: 20px;
  }
  .our-project-current__link {
    margin-top: 35px;
  }
  .our-project-current-info {
    width: 100%;
  }
  .contact-wrapper {
    padding: 50px 0 30px 0;
  }
  .contact-social__item img {
    width: 35px;
  }
  .contact-block__name {
    font-size: 26px;
  }
  .about-image {
    width: 100%;
    height: 200px;
  }
  .about-info {
    padding-top: 220px;
    width: 100%;
  }
  .advantage-image {
    height: 200px;
  }
  .contact-single .contact-wrapper {
    padding: 30px 0;
  }
  .contact-single .contact__title {
    text-align: center;
  }
  .contact-single .contact-block-inner:nth-child(1) {
    text-align: center;
  }
  .contact-single .contact-block-inner:nth-child(2) {
    margin-top: 20px;
  }
  .price-wrapper {
    padding-bottom: 20px;
  }
  .price-table table thead th {
    padding: 8px;
  }
  .price-table table th, .price-table table td {
    padding: 8px;
  }
  .price-contact-social__item p {
    margin-right: 20px;
  }
  .price-contact-social__item img {
    width: 35px;
  }
  .price-contact__title {
    font-size: 20px;
    line-height: 24px;
  }
  .price-contact-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price-contact-block-inner:not(:last-child) {
    margin-bottom: 30px;
  }
  .blog-list {
    margin-bottom: 40px;
  }
  .blog-item .our-project-current-info {
    width: 100%;
  }
  .blog-item .our-project-current-image {
    width: 100%;
    margin-bottom: 20px;
  }
  .recall-wrapper {
    padding: 20px 0 30px 0;
  }
  .recall-block {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recall-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin-bottom: 20px;
  }
  .recall-info {
    width: 100%;
  }
  .recall-info__name {
    font-size: 24px;
  }
  .page__btn {
    font-size: 22px;
    line-height: 28px;
  }
  .service-separate-wrapper {
    padding-top: 30px;
  }
  .service-separate-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service-separate-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: unset;
    height: 335px;
    margin: 0 auto 20px auto;
  }
  .service-separate-right img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .service-separate-left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .service-separate-info {
    width: 100%;
  }
  .service-separate-image__item {
    margin-right: 0;
    height: 130px;
  }
  .service-separate-image__item:not(:last-child) {
    margin-right: 34px;
  }
  .service-separate .price-table {
    margin-bottom: 0;
    width: 100%;
  }
  .service-separate .price-table__title {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .service-separate .price-table table {
    margin-bottom: 50px;
  }
  .service-separate__bottom {
    font-size: 23px;
  }
  .blog-single-service__item.door, .blog-single-service__item.window {
    width: 131px;
  }
  .blog-single-service__item:first-child {
    width: 100%;
  }
  .blog-single-service__item:not(:last-child) {
    margin-right: 81px;
  }
  .blog-single-service__item:nth-child(4) {
    margin-right: 0;
  }
  .blog-single-content.image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-single-content.image .blog-single-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    height: 280px;
    margin-bottom: 30px;
  }
  .blog-single-content.image .blog-single-image img {
    width: 100%;
  }
  .blog-single-content.image .blog-single-info {
    width: 100% !important;
  }
  .blog-single h2, .blog-single h3, .blog-single h4 {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  a, span, p, input, button, select, option, textarea, label {
    font-size: 14px;
    line-height: 18px;
  }
  .container {
    width: 100%;
  }
  .title {
    font-size: 18px;
    line-height: 26px;
  }
  .header-logo {
    height: 54px;
  }
  .header-logo h1 {
    font-size: 23px;
    line-height: 28px;
  }
  .header-height {
    height: 94px;
  }
  .header nav {
    top: 92px;
    width: 213px;
  }
  .header nav ul li {
    margin-bottom: 3px;
  }
  .header nav ul li a {
    font-size: 14px;
  }
  .header nav ul li ul li:not(:last-child) {
    margin-bottom: 3px;
  }
  .slogan-wrapper {
    padding: 14px 0;
  }
  .slogan-wrapper p {
    font-size: 12px;
  }
  .service-item {
    width: 48%;
  }
  .service-item__image {
    height: 154px;
  }
  .service-item__name {
    margin-top: 10px;
  }
  .why-wrapper {
    padding-bottom: 228px;
  }
  .why__title {
    margin-bottom: 20px;
  }
  .why-image {
    height: 228px;
  }
  .footer-contact {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer-wrapper {
    padding-top: 9px;
  }
  .footer-logo {
    height: 54px;
  }
  .footer-logo h1 {
    font-size: 23px;
    line-height: 28px;
  }
  .footer nav {
    height: unset;
  }
  .footer nav ul > li:nth-child(6) {
    margin-top: 40px;
  }
  .footer nav ul li {
    margin-bottom: 5px;
  }
  .footer nav ul li a {
    font-size: 14px;
  }
  .footer nav ul li ul {
    margin-top: 0;
  }
  .footer__phone {
    font-size: 18px;
  }
  .footer-social__link:not(:last-child) {
    margin-right: 26px;
  }
  .project-wrapper {
    padding: 20px 0;
  }
  .project-item {
    width: 193px;
  }
  .project-item__image {
    height: 160px;
  }
  .project-item__name {
    margin-top: 15px;
  }
  .project-slider-panel__arrow {
    font-size: 50px;
    line-height: 64px;
  }
  .service-single-image {
    width: 96%;
    margin-bottom: 30px;
  }
  .service-single-block {
    padding: 30px 0;
  }
  .service-single-info__title {
    margin-bottom: 20px;
  }
  .our-project-item {
    height: 210px;
  }
  .our-project-item__name {
    font-size: 18px;
  }
  .contact-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-block__name {
    text-align: center;
  }
  .contact-block-inner:nth-child(1) {
    width: 215px;
  }
  .contact-block-inner:nth-child(2), .contact-block-inner:nth-child(3) {
    margin-top: 30px;
    width: 215px;
  }
  .contact-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-social__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .about-info {
    padding-bottom: 30px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .price__title {
    margin-bottom: 20px;
  }
  .price-table table thead th {
    font-size: 14px;
  }
  .price-table table tbody tr td {
    font-size: 14px;
  }
  .recall-item {
    height: 235px;
  }
  .recall-info__name {
    font-size: 20px;
    line-height: 28px;
  }
  .project-service .project-slider-panel {
    top: calc(50% - 30px);
  }
  .service-separate-right {
    height: 230px;
  }
  .service-separate-image {
    width: 100%;
  }
  .service-separate-image__item:not(:last-child) {
    margin-right: auto;
  }
  .blog-single-service__item {
    margin-bottom: 20px;
  }
  .blog-single-service__item:not(:last-child) {
    margin-right: auto;
  }
  .blog-single-service__item:first-child {
    width: 100% !important;
  }
  .blog-single-service__item:nth-child(4) {
    margin-right: 0 !important;
  }
  .blog-single-service__item.door, .blog-single-service__item.window {
    width: 30%;
  }
  .blog-single-service__item.door img, .blog-single-service__item.window img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .blog-single-service__link {
    font-size: 18px;
  }
  .blog-single h2, .blog-single h3, .blog-single h4 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }
  .blog-single-content.image .blog-single-image {
    height: 190px;
  }
}
/*# sourceMappingURL=media.css.map */