@import '../vendor/_vars.scss';

// 1280px - 992px
@media screen and (max-width: 1340px) {
    .container {
        width: 1180px;
        padding: 0 15px;
    }
    .why {
        &-info  {
            width: 530px;
        }
    }
    .footer {
        nav {
            margin-left: 40px;
            & > ul {
                li {
                    &:nth-child(5) {
                        margin-right: 50px;
                    }
                }
            }
        }
    }
    .service-single {
        &-image {
            margin-left: 0;
        }
        &-info {
            margin-right: 0;
        }
    }
    .our-project {
        &-item {
            width: 370px;
            height: 315px;
        }
        &-current {
            &-image {
                width: 515px;
                height: 340px;
            }
            &-info {
                width: 585px;
            }
        }
    }
    .contact {
        &-block {
            &-inner {
                &:nth-child(3) {
                    margin-right: 80px;
                }
            }
            &__name {
                font-size: 38px;
                line-height: 40px;
            }
        }
    }
    .advantage {
        &-image {
            height: 380px;
        }
    }
    .service-separate {
        &-wrapper {
            width: 100%;
        }
        &-left {
            width: 1022px;
        }
        .price-table {
            width: 940px;
        }
    }
    .blog-single {
        &-service {
            &__link {
                font-size: 24px;
            }
            &__item {
                &:not(:last-child) {
                    margin-right: 62px;
                }
            }
        }
    }
}
@media screen and (max-width: 1180px) {
    .container {
        width: 992px;
    }
    .title {
        font-size: 38px;
        line-height: 42px;
    }
    .header {
        &-logo  {
            height: 105px;
            h1 {
                font-size: 46px;
                line-height: 55px;
            }
        }
    }
    .why {
        &-image {
            width: 45%;
        }
        &-info {
            width: 495px;
            padding: 50px 0;
        }
    }
    .slogan {
        &-wrapper {
            p {
                font-size: 24px;
            }
        }
    }
    .service {
        &-item {
            &__image {
                height: 290px;
            }
        }
    }
    .project {
        &-item {
            width: 420px;
            &__image {
                height: 350px;
            }
        }
    }
    .footer {
        &-wrapper {
            position: relative;
            padding-bottom: 60px;
        }
        &-main {
            width: 175px;
        }
        &-logo  {
            height: 105px;
            p {
                font-size: 46px;
                line-height: 55px;
            }
        }
        nav {
            height: 185px;
            & > ul {
                li {
                    &:nth-child(5) {
                        margin-bottom: 9px;
                    }
                    ul {
                        margin-top: 9px;
                        position: static;
                    }
                }
            }
        }
        &__copy {
            position: absolute;
            bottom: 20px;
            left: 0;
        }
    }
    .service-single {
        &-image {
            width: 395px;
        }
        &-info {
            &__title {
                margin-bottom: 50px;
            }
        }
    }
    .our-project {
        &-item {
            width: 307px;
            height: 307px;
            &__name {
                font-size: 24px;
                line-height: 30px;
            }
        }
        &-current {
            &__title {
                margin-bottom: 30px;
            }
            &-image {
                width: 436px;
                height: 290px;
            }
            &-info {
                width: 495px;
            }
        }
    }
    .contact {
        &-wrapper {
            padding: 90px 0 150px 0;
        }
        &-block {
            &-inner {
                &:nth-child(3) {
                    margin-right: 0;
                }
            }
        }
    }
    .contact {
        &-block {
            &__name {
                font-size: 34px;
            }
            &-inner {
                &:nth-child(1) {
                    width: 225px;
                }
                &:nth-child(2) {
                    width: 255px;
                    margin: 0;
                }
            }
        }
        &-social {
            &__item  {
                p {
                    margin-right: 25px;
                }
            }
        }
    }
    .contact-single {
        .contact-block-inner {
            &:nth-child(2) {
                margin: 0 auto;
            }
        }
    }
    .about {
        &-image {
            width: 45%;
        }
        &-info {
            width: 475px;
        }
    }
    .recall {
        &-wrapper {
            width: 100%;
        }
    }
    .service-separate  {
        .price-table {
            width: 748px;
        }
        &-left {
            width: 836px;
        }
    }
    .blog-single {
        &-service {
            &__item {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
        h2, h3, h4 {
            font-size: 38px;
            line-height: 38px;
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 768px;
    }
    .title {
        font-size: 28px;
    }
    .header {
        position: fixed;
        box-shadow: 0 0 20px 0px;
        z-index: 5;
        background: #F1F0ED;
        width: 100%;
        &-logo {
            width: 190px;
            height: 78px;
            h1 {
                font-size: 34px;
                line-height: 42px;
            }
        }
        &-wrapper {
            padding: 20px 0;
        }
        &-contact {
            display: none;
        }
        &-burger {
            display: block;
        }
        nav {
            position: absolute;
            right: -600px;
            top: 118px;
            background: #F1F0ED;
            height: 100vh;
            width: 330px;
            transition: $anim-default;
            &.active {
                right: 0;
            }
            ul {
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;
                & > li {
                    &:last-child {
                        display: none;
                    }
                }
                li {
                    margin-bottom: 9px;
                    a {
                        text-decoration: none;
                    }
                    ul {
                        width: unset;
                        padding: 15px 0 6px 0;
                        opacity: 1;
                        pointer-events: all;
                        position: static;
                        li {
                            &:not(:last-child) {
                                margin-bottom: 9px;
                            }
                        }
                    }
                }
            }
        }
        &-info {
            align-items: center;
            margin-top: 0;
        }
        &-height {
            height: 118px;
        }
    }
    .why {
        &-wrapper {
            padding-bottom: 454px;
        }
        &__title {
            margin-bottom: 30px;
        }
        &-info {
            width: 100%;
        }
        &-image {
            height: 454px;
            bottom: 0;
            top: unset;
            width: 100%;
        }
    }
    .slogan {
        &-wrapper {
            p {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    .footer {
        &-wrapper {
            flex-wrap: wrap;
        }
        &-logo {
            width: 190px;
            height: 78px;
            p {
                font-size: 34px;
                line-height: 42px;
            }
        }
        &-main {
            order: 1;
        }
        &-contact {
            order: 2;
        }
        nav {
            margin: 30px 0;
            order: 3;
            margin-left: 0;
            //height: unset;
            width: 100%;
        }
        &-social {
            &__link {
                img {
                    width: 40px;
                }
            }
        }
    }
    .project {
        &__title {
            margin-bottom: 30px;
        }
    }
    .service-single {
        &-image {
            width: 340px;
        }
        &-info {
            width: 375px;
        }
    }
    .our-project {
        &-wrapper {
            padding: 30px 0;
        }
        &-item {
            width: 238px;
            height: 238px;
            &:not(:nth-child(3n + 3)) {
                margin-right: 12px;
            }
            &:not(:nth-last-child(-n + 3)) {
                margin-bottom: 12px;
            }
            &__name {
                width: calc(100% - 20px);
                left: 10px;
                font-size: 20px;
                line-height: 24px;
                top: 10px;
            }
        }
        &-current {
            &-image {
                width: 270px;
                height: 245px;
            }
            &-info {
                width: 440px;
            }
        }
    }
    .contact {
        &-wrapper {
            padding: 70px 0;
        }
        &-block {
            flex-wrap: wrap;
            &__name {
                font-size: 30px;
                line-height: 28px;
                margin-bottom: 20px;
            }
            &-inner {
                &:nth-child(1) {
                    width: 48%;
                }
                &:nth-child(2) {
                    width: 48%;
                }
                &:nth-child(3) {
                    margin-top: 50px;
                }
            }
        }
        &-social {
            &__item {
                img {
                    width: 40px;
                }
            }
        }
    }
    .about {
        &__title {
            margin-bottom: 30px;
        }
        &-info {
            width: 385px;
        }
    }
    .advantage {
        &-list {
            height: unset;
        }
        &-item {
            margin-right: 0;
            width: 100%;
            margin-bottom: 0;
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }
    .price {
        &-wrapper {
            width: 100%;
        }
        &__title {
            margin-bottom: 30px;
        }
        &-table {
            table {
                thead {
                    th {
                        font-size: 16px;
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        &-contact {
            &-social {
                &__item {
                    img {
                        width: 40px;
                    }
                }
            }
            &__title {
                margin-bottom: 20px;
                font-size: 24px;
            }
        }
    }
    .blog {
        &-list {
            width: 100%;
        }
        &-item {
            .our-project-current {
                &-info {
                    width: 385px;
                }
                &-image { 
                    width: 325px;
                    height: 240px;
                }
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    .recall {
        &-image {
            width: 320px;
            height: 275px;
        }
        &-info {
            width: 390px;
        }
    }
    .service-separate {
        &__title {
            margin-bottom: 30px;
        }
        &-left {
            width: 612px;
            &-inner {
                flex-direction: column;
            }
        }
        &-right {
            height: 490px;
        }
        &-image {
            order: -1;
            &__item {
                width: 85px;
                height: 145px;
                margin-right: 37px;
            }
        }
        .price-table {
            width: 560px;
            margin-top: 30px;
        }
        &-info {
            margin-top: 30px;
        }
    }
    .blog-single {
        padding-top: 40px;
        &-content {
            width: 100%;
        }
        &-service {
            &-block {
                flex-wrap: wrap;
            }
            &__item {
                &:first-child {
                    width: 100%;
                    margin-right: 0 !important;
                    img {
                        object-fit: contain;
                    }
                }
                &:not(:last-child) {
                    margin-right: 19px;
                }
            }
        }
        h2,h3,h4 {
            font-size: 34px;
        }
        .blog-single-content.image {
            .blog-single-info {
                width: 410px;
            }
        }
        &-price {
            margin-top: 50px;
        }
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 576px;
        padding: 0 10px;
    }
    .title {
        font-size: 23px;
        line-height: 32px;
    }
    .slogan {
        &-wrapper {
            padding: 18px 0;
            p {
                font-size: 16px;
                line-height: normal;
            }
        }
    }
    .header {
        &-logo {
            width: 100px;
            height: 64px;
            h1 {
                font-size: 26px;
                line-height: 30px;
            }
        }
        &-height {
            height: 104px;
        }
        &-burger {
            width: 24px;
            height: 21px;
        }
        nav {
            top: 102px;
            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .service {
        &-wrapper {
            padding: 30px 0;
        }
        &-list {
            flex-wrap: wrap;
        }
        &-item {
            width: 49%;
            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 30px;
            }
            &__image {
                height: 200px;
            }
            &__name {
                margin-top: 20px;
            }
        }
    }
    .why {
        &-wrapper {
            padding-bottom: 365px;
        }
        &-info {
            padding: 20px 0 30px 0;
        }
        &-image {
            height: 365px;
        }
    }
    .footer {
        &-logo {
            width: 100px;
            height: 64px;
            p {
                font-size: 26px;
                line-height: 30px;
            }
        }
        &__phone {
            font-size: 24px;
        }
        &-main {
            width: unset;
        }
        &-social {
            margin: 14px 0 16px 0;
            &__link {
                img {
                    width: 35px;
                }
            }
        }
        nav {
            margin: 30px 0 10px 0;
            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .project {
        position: relative;
        &__title {
            display: none;
        }
        &-item {
            width: 350px;
            &__image {
                height: 270px;
            }
        }
        &-slider {
            position: static;
            &-panel {
                &__arrow {
                    &.prev {
                        left: 20px;
                    }
                    &.next {
                        right: 20px;
                    }
                }
            }
        }
    }
    .service-single {
        &-image {
            width: 425px;
            margin-bottom: 50px;
            &__item {
                &:nth-child(1) {
                    height: 275px;
                }
            }
        }
        &-info {
            width: 100%;
            &__title {
                margin-bottom: 30px;
            }
            &__link {
                margin-top: 30px;
            }
        }
        &-block {
            .container {
                flex-direction: column;
            }
        }
    }
    .our-project {
        &-list {
            justify-content: space-between;
        }
        &-item {
            &:not(:nth-child(3n + 3)) {
                margin-right: unset;
            }
            &:not(:nth-last-child(-n + 3)) {
                margin-bottom: 0;
            }
            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 12px;
            }
            width: 49%;
        }
        &-current {
            flex-direction: column;
            &-image {
                width: 100%;
                margin-bottom: 30px;
            }
            &__title {
                margin-bottom: 20px;
            }
            &__link {
                margin-top: 35px;
            }
            &-info {
                width: 100%;
            }
        }
    }
    .contact {
        &-wrapper {
            padding: 50px 0 30px 0;
        }
        &-social {
            &__item {
                img {
                    width: 35px;
                }
            }
        }
        &-block {
            &__name {
                font-size: 26px;
            }
        }
    }
    .about {
        &-image {
            width: 100%;
            height: 200px;
        }
        &-info {
            padding-top: 220px;
            width: 100%;
        }
    }
    .advantage {
        &-image {
            height: 200px;
        }
    }
    .contact-single {
        .contact-wrapper {
            padding: 30px 0;
        }
        .contact__title {
            text-align: center;
        }
        .contact-block {
            &-inner {
                &:nth-child(1) {
                    text-align: center;
                }
                &:nth-child(2) {
                    margin-top: 20px;
                }
            }
        }
    }
    .price {
        &-wrapper {
            padding-bottom: 20px;
        }
        &-table {
            table {
                thead {
                    th {
                        padding: 8px;
                    }
                }
                th, td {
                    padding: 8px;
                }
            }
        }
        &-contact {
            &-social {
                &__item {
                    p {
                        margin-right: 20px;
                    }
                    img {
                        width: 35px;
                    }
                }
            }
        }
        &-contact {
            &__title {
                font-size: 20px;
                line-height: 24px;
            }
            &-block {
                flex-direction: column;
                &-inner {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .blog {
        &-list {
            margin-bottom: 40px;
        }
        &-item {
            .our-project-current {
                &-info {
                    width: 100%;
                }
                &-image {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .recall {
        &-wrapper {
            padding: 20px 0 30px 0;
        }
        &-block {
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
        &-image {
            order: -1;
            width: 100%;
            margin-bottom: 20px;
        }
        &-info {
            width: 100%;
            &__name {
                font-size: 24px;
            }
        }
    }
    .page {
        &__btn {
            font-size: 22px;
            line-height: 28px;
        }
    }
    .service-separate {
        &-wrapper {
            padding-top: 30px;
        }
        &-main {
            flex-wrap: wrap;
        }
        &-right {
            order: 1;
            width: unset;
            height: 335px;
            margin: 0 auto 20px auto;
            img {
                object-fit: contain;
            }
        }
        &-left {
            width: 100%;
            order: 2;
        }
        &-info {
            width: 100%;
        }
        &-image {
            &__item {
                margin-right: 0;
                height: 130px;
                &:not(:last-child) {
                    margin-right: 34px;
                }
            }
        }
        .price-table {
            margin-bottom: 0;
            width: 100%;
            &__title {
                font-size: 23px;
                line-height: 28px;
                margin-bottom: 20px;
            }
            table {
                margin-bottom: 50px;
            }
        }
        &__bottom {
            font-size: 23px;
        }
    }
    .blog-single {
        &-service {
            &__item {
                &.door, &.window {
                    width: 131px;
                }
                &:first-child {
                    width: 100%;
                }
                &:not(:last-child) {
                    margin-right: 81px;
                }
                &:nth-child(4) {
                    margin-right: 0;
                }
            }
        }
        &-content {
            &.image {
                flex-direction: column;
                .blog-single-image {
                    order: -1;
                    width: 100%;
                    height: 280px;
                    margin-bottom: 30px;
                    img {
                        width: 100%;
                    }
                }
                .blog-single-info {
                    width: 100% !important;
                }
            }
        }
        h2, h3, h4 {
            font-size: 28px;
        }
    }
}
@media screen and (max-width: 576px) {
    a, span, p, input, button, select, option,textarea, label {
        font-size: 14px;
        line-height: 18px;
    }
    .container {
        width: 100%;
    }
    .title {
        font-size: 18px;
        line-height: 26px;
    }
    .header {
        &-logo {
            height: 54px;
            h1 {
                font-size: 23px;
                line-height: 28px;
            }
        }
        &-height {
            height: 94px;
        }
        nav {
            top: 92px;
            width: 213px;
            ul {
                li {
                    margin-bottom: 3px;
                    a {
                        font-size: 14px;
                    }
                    ul {
                        li {
                            &:not(:last-child) {
                                margin-bottom: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
    .slogan {
        &-wrapper {
            padding: 14px 0;
            p {
                font-size: 12px;
            }
        }
    }
    .service {
        &-item {
            width: 48%;
            &__image {
                height: 154px;
            }
            &__name {
                margin-top: 10px;
            }
        }
    }
    .why {
        &-wrapper {
            padding-bottom: 228px;
        }
        &__title {
            margin-bottom: 20px;
        }
        &-image {
            height: 228px;
        }
    }
    .footer {
        &-contact {
            width: fit-content;
        }
        &-wrapper {
            padding-top: 9px;
        }
        &-logo {
            height: 54px;
            h1 {
                font-size: 23px;
                line-height: 28px;
            }
        }
        nav {
            height: unset;  
            ul {
                & > li {
                    &:nth-child(6) {
                        margin-top: 40px;
                    }
                }
                li {
                    margin-bottom: 5px;
                    a {
                        font-size: 14px;
                    }
                    ul {
                        margin-top: 0;
                    }
                }
            }
        }
        &__phone {
            font-size: 18px;
        }
        &-social {
            &__link {
                &:not(:last-child) {
                    margin-right: 26px;
                }
            }
        }
    }
    .project {
        &-wrapper {
            padding: 20px 0;
        }
        &-item {
            width: 193px;
            &__image {
                height: 160px;
            }
            &__name {
                margin-top: 15px;
            }
        }
        &-slider {
            &-panel {
                &__arrow {
                    font-size: 50px;
                    line-height: 64px;
                }
            } 
        }
    }
    .service-single {
        &-image {
            width: 96%;
            margin-bottom: 30px;
        }
        &-block {
            padding: 30px 0;
        }
        &-info {
            &__title {
                margin-bottom: 20px;
            }
        }
    }
    .our-project {
        &-item {
            height: 210px;
            &__name {
                font-size: 18px;
            }
        }
    }
    .contact {
        &-block {
            flex-direction: column;
            align-items: center;
            &__name {
                text-align: center;
            }
            &-inner {
                &:nth-child(1) {
                    width: 215px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    margin-top: 30px;
                    width: 215px;
                }

            }
        }
        &-social {
            flex-direction: column;
            align-items:center;
            &__item {
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 12px;
                }
            }
        }
    }
    .about {
        &-info {
            padding-bottom: 30px;
        }
        &__title {
            margin-bottom: 20px;
        }
    }
    .price {
        &__title {
            margin-bottom: 20px;
        }
        &-table {
            table {
                thead {
                    th {
                        font-size: 14px;
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .recall {
        &-item {
            height: 235px;
        }
        &-info {
            &__name {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
    .project-service {
        .project-slider-panel {
            top: calc(50% - 30px); 
        }
    }
    .service-separate {
        &-right {
            height: 230px;
        }
        &-image {
            width: 100%;
            &__item {
                &:not(:last-child) {
                    margin-right: auto;
                }
            }
        }
    }
    .blog-single {
        &-service {
            &__item {
                margin-bottom: 20px;
                &:not(:last-child)  {
                    margin-right: auto;
                }
                &:first-child {
                    width: 100% !important;
                }
                &:nth-child(4) {
                    margin-right: 0 !important;
                }
                &.door, &.window {
                    width: 30%;
                    img {
                        object-fit: contain;
                    }
                }
            }
            &__link {
                font-size: 18px;
            }
        }
        h2, h3, h4 {
            font-size: 24px;
            margin-bottom: 20px;
            line-height: 30px;
        }
        &-content {
            &.image {
                .blog-single-image {
                    height: 190px;
                    
                }
            }
        }
    }
}
